body {
    border: 1px solid #000;
    max-width: 800px;
    text-align: center;
    margin: 70px auto;
}

.header {
    padding: 10px 20px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 24px;
}

.header__nav {
    width: 125px;
    border: 1px solid #000;
    border-radius: 4px;
}

.header__nav-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #e5e5e5;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}
