.search-form {
    text-align: left;
    margin-left: 20px;
}

.search-form {
    margin-bottom: 15px;
}

.search-form__input {
    width: 50%;
    height: 25px;
}

.table {
    margin: 20px;
}

.table td {
    vertical-align: top;
    padding: 8px;
    text-align: left;
    white-space: normal;
}
