.search-form {
    text-align: left;
    margin-left: 20px;
}

.search-form {
    margin-bottom: 15px;
}

.search-form__input {
    width: 50%;
    height: 25px;
}

.table {
    table-layout: fixed;
    width: 90%;
    border-collapse: collapse;
    margin: 20px;
}

.table td {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

.table td:nth-child(1) {
    width: 15%;
}

.table td:nth-child(2) {
    width: 9%;
}

.table td:nth-child(3) {
    width: 65%;
}

.table td:nth-child(4) {
    width: 20%;
}

.update-form__input,
.readonly-text {
    display: inline-block;
    width: 100%;
    min-height: 28px;
    padding: 4px 6px;
    box-sizing: border-box;
    outline: none;
    border: none;
    resize: none;
    text-align: left;
    font-size: 14px;
}

.search-form__button-submit,
.update-form__button-submit,
.delete-form__button-submit {
    cursor: pointer;
}

.update-delete {
    display: flex;
    gap: 8px;
    align-items: center;
    /* justify-content: flex-start; */
}

.readonly-text {
    border: 1px solid transparent;
}

.update-delete button {
    width: 50px;
    height: 28px;
    font-size: 14px;
    line-height: 1;
}

.update-form__button-submit,
.delete-form__button-submit {
    display: inline-block;
    width: 60px;
    height: 32px;
    padding: 0;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    box-sizing: border-box;
}

svg.w-5.h-5 {
    width: 30px;
    height: 30px;
}
