.search-form {
    text-align: left;
    margin-left: 20px;
}

.search-form {
    margin-bottom: 15px;
}

.search-form__input {
    width: 50%;
    height: 25px;
}

.table {
    table-layout: fixed;
    width: 90%;
    border-collapse: collapse;
    margin: 20px;
}

.table td {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

.table td:nth-child(1) {
    width: 12%;
}

.table td:nth-child(2) {
    width: 14%;
}

.table td:nth-child(3) {
    width: 65%;
}

.table td:nth-child(4),
.table td:nth-child(5) {
    width: 7%;
}

.update-form__input {
    width: 100%;
    overflow: visible;
    border: none;
    outline: none;
    resize: none;
}
